:root {
    --lora: 'Lora', sans-serif;
    --montserrat: Montserrat, monospace;
    --black: #000000;
    --white: #ffffff;
    --gray1: #333333;
    --gray2: #4f4f4f;
    --gray3: #a9a9a9;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: block;
    width: 90%;
    margin: 40px auto;
}
body {
    max-width: 1440;
    background-color: var(--black);
    color: var(--white);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* Header */
.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 14px;
    font-weight: 200;
    padding: 5px;
    margin-top: 20px;
    border: var(--white) solid 2px;
}
/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}
.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover {
    background-color: var(--gray);
}
.nav {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
} /* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
.hamb-line::before {
    top: 5px;
}
.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.content-info {
    text-align: justify;
}
.content-info h1 {
    font-size: 48px;
    font-weight: 500;
    font-family: var(--lora);
    padding-top: 100px;
    padding-bottom: 40px;
}
.content-img img {
    width: 740px;
    height: 555px;
}

footer {
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray3);
    font-family: var(--montserrat);
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        justify-content: center;
    }
    .content-img img {
        margin: 0;
        width: 400px;
        height: 265px;
    }
    .content-info h1 {
        margin-top: 50px;
        font-size: 35px;
    }
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li {
        float: left;
    }
    .menu a:hover {
        background-color: transparent;
        color: var(--gray);
    }

    .hamb {
        display: none;
    }
}

.container .aside_container {
    width: 410px;
    position: absolute;
    right: 8%;
    bottom: 20%;
    background-color: #181719;
}

.container .aside_container p {
    font-family: var(--lora);
    font-size: 24px;
    font-weight: 700;
}

.container .aside_container .header_card {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    box-shadow: 1px 5px 5px black;
}

.container .aside_container .header_card .container_img {
    width: 20%;
}

.container .aside_container .header_card .container_img img {
    width: 100%;
    border-radius: 50%;
}

.container .aside_container .header_card .container_info_designer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .aside_container .header_card .container_info_designer .name {
    font-size: 16px;
    font-family: var(--montserrat);
    font-weight: 500;
}

.container .aside_container .header_card .container_info_designer .position {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
}
